/*
SOLARIZED HEX    
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

::selection {
  background: #002b36; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #002b36; /* Gecko Browsers */
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
	background-color:#fdf6e3;
	font-family: Sans-Serif;
	padding: 15px 15px 15px 15px
}

/*Centered header @ top*/
h1
{
	color:#af8700;
	text-align:center;
	padding: 10px 10px 10px 10px;
}

/*Blue Sub-header*/
h2.blue
{
	color:#268bd2;
	padding: 0px 0px 0px 10px;
}
/*Cyan Sub-header*/
h2.cyan
{
	color:#2aa198;
	padding: 0px 0px 0px 10px;
}

h3{
	color:#2aa198;
	padding: 0px 0px 0px 20px;
}

p
{
	color:#839496;
	padding: 0px 0px 0px 30px;
}

p.signature
{
	color:#859900;
	padding: 0px 0px 100px 60px;
}

p.date
{
	color:#859900;
	text-align: center;
	font-size:85%;
	padding: 0px 0px 0px 0px;
}

p.navtitle
{
	color:#dc322f;
	padding: 0px 0px 0px 10px;
	text-align: center;
	font-size:200%;
}

p.code
{

	font-family: monospace;
	padding: 0px 0px 0px 60px;
	color:#b58900;
	font-size: large;
}

p.footer {
	position: fixed;
	bottom: 0;
	color: #586e75;
	padding: 0px 0px 0px 0px;
	text-size:large;
}

ul
{
	list-style: none;
	padding-left: 0;
}

a
{
	font-size:200%;
	text-decoration: none;
}

a.inline {
	font-size:90%;
	text-decoration: underline;
}

a:visited
{
	color:#839496;
	padding: 0px 0px 0px 10px;
}
a:hover
{
	color:#cb4b16;
	padding: 0px 0px 0px 10px;
}
a:active
{
	color:#b58900;
	padding: 0px 0px 0px 10px;
}
a:link
{
	color:#dc322f;
	padding: 0px 0px 0px 10px;
}

div.nav
{
	position: absolute;
	width:100px;
	top:0;
	right:0;
	padding: 50px 70px 0px 10px;
}

iframe
{
	align: middle;
	border: none;
	height: 85%;
	width: 80%;
	padding: 20px 20px 20px 20px;
}

